/*------------*\
--> PRELOADER
\*------------*/

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--Neutral-900);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.circle {
  background-color: transparent;
  width: 80px;
  border: 8px solid var(--Blue-500);
  border-top: 8px solid var(--Blue-700);
  height: 80px;
  border-radius: 50%;
  transition: 250ms ease;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

/*------------*\
--> CONFRAIM
\*------------*/

.confraim {
  position: fixed;
  width: 300px;
  height: 200px;
  max-width: 90%;
  max-height: 90vh;
  background-color: var(--Blue-500);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  z-index: 100;
}

.btn {
  position: relative;
  background-color: var(--Blue-700);
  width: 100px;
  height: 40px;
  border-radius: 12px;
  opacity: 0.7;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 4px;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.btn:focus {
  outline: 3px solid var(--Blue-700);
  outline-offset: 3px;
}


.confraim-title {
  position: absolute;
  line-height: 1.6;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  width: 70%;
  font-size: 1.6rem;
  letter-spacing: 1.05px;
  font-weight: 800;
  font-family: cursive;
}

/*------------*\
--> OVERLAY
\*------------*/

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
}

/*-------------*\
-->  Error API
\*-------------*/

.error {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: max-content;
  height: 30rem;
  margin-inline: auto;
  z-index: 5;
}

.error__icon {
  position: relative;
  width: 25px;
}

.error__title {
  font-size: 2.5rem;
  pointer-events: none;
}

.error__subtitle {
  font-size: 1.2rem;
  width: 270px;
  opacity: 0.5;
  pointer-events: none;
}

.error__btn {
  display: flex;
  flex-flow: row;
  gap: 10px;
  width: 10rem;
  color: white;
  padding-block: 5px;
  background-color: var(--Neutral-700);
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  cursor: pointer;
}

.error__btn--focus:focus {
  outline: 2px solid white;
  outline-offset: 3px;
}

.error__icon {
  width: 3rem;
  height: 3rem;
}

.error__icon .icon {
  width: 5rem;
  height: 5rem;
}

/*------------*\
-->  NO RESULT
\*------------*/

.no-result {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
}

/*---------------------*\
-->  SEARCH IN PROGRESS
\*---------------------*/

.search-progress {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 35px;
  background-color: var(--Neutral-700);
  border-radius: 1rem;
  margin-block-start: 3px;
  display: none;
  align-items: center;
  gap: 20px;
  pointer-events: none;
  z-index: 5;
}

.search-progress img {
  margin-block-end: 20px;
  animation: rotate360 1.5s linear infinite;
}

.progrss-text {
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.6;
}

/*------------*\
-->  TOPBAR
\*------------*/

.topbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.topbar .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

/*------------*\
-->  HEADER
\*------------*/

.header__icon {
  position: relative;
  width: 150px;
  text-align: left;
}

.custom__select {
  position: relative;
  display: flex;
  max-width: max-content;
  flex-flow: row;
}


.select__btn {
  position: relative;
  display: flex;
  flex-flow: row;
  padding-inline: 1rem;
  gap: 7px;
  align-items: center;
  width: 105px;
  height: 35px;
  background-color: var(--Neutral-700);
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  padding-inline-start: 10px;
  font-family: "Bricolage_Grotesque";
  margin-block: 1.5vh;
}
.select__btn.loading *{
  pointer-events: none;
}

.select__btn--focus:focus {
  outline: 2px solid white;
  outline-offset: 3px;
}


.select__options {
  position: absolute;
  width: 160px;
  height: 310px;
  background-color: var(--Neutral-700);
  border: 1px solid var(--Neutral-600);
  border-radius: 8px;
  text-align: left;
  padding-inline-start: 10px;
  left: -55px;
  top: 100%;
  z-index: 5;
}

.options-title {
  position: relative;
  margin-block: 10px;
  font-size: 1.3rem;
}

.option__group {
  padding: 8px;
  border-block-end: 1px solid rgba(255, 255, 255, 0.3);
  width: 130px;
}

.group__title {
  font-size: 1rem;
  opacity: 0.4;
  margin-block-end: 9px;
}

.option__group .list-items {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.option__group .list-item {
  position: relative;
  font-size: 1.33rem;
  cursor: pointer;
  width: 140px;
  left: -5px;
  padding-inline-start: 5px;
  height: 20px;
  line-height: 1.6;
  border-radius: 5px;
}

.header__title {
  position: relative;
  font-size: 4rem;
  text-align: center;
  padding-inline: 70px;
  overflow: hidden;
  margin-block: 40px 30px;
  z-index: 2;
}

.header__search {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-inline: auto;
  gap: 10px;
  width: 300px;
  height: 100px;
}

.search-box {
  position: relative;
  display: flex;
  background-color: var(--Neutral-700);
  width: 300px;
  height: 90px;
  flex-flow: row;
  gap: 10px;
  border-radius: 8pt;
  font-family: "DM_Sans";
}

.search-box:has(input:focus) {
  outline: 2px solid white;
  outline-offset: 3px;
}

.search-box input {
  color: white;
  background-color: transparent;
  margin-inline-start: 10px;
  font-size: 1.6rem;
  line-height: 1.6;
}

.search-box img {
  position: relative;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.header__search button{
  position: relative;
  background-color: var(--Blue-500);
  font-family: cursive;
  height: 90px;
  border-radius: 10px;
  padding-block: 5px;
  font-size: 1.68rem;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.header__search button:focus {
  outline: 3px solid var(--Blue-700);
  outline-offset: 3px;
}


.header__search button::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 700ms ease;
  border-radius: 50%;
  background-color: var(--Blue-700);
  z-index: -1;
}

.header__search button:is(:hover, :focus-visible)::before {
  bottom: -50%;
}

.header__search button .text {
  transition: 500ms ease;
  white-space: nowrap;
  display: block;
}

.header__search button .text.text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: max-content;
}

.header__search button:is(:hover, :focus-visible) .text-1 {
  transform: translateY(-40px);
}

.header__search button:is(:hover, :focus-visible) .text-2 {
  top: 50%;
  transform: translate(-50%, -50%);
}

.suggestions {
  position: absolute;
  width: 150px;
  height: 170px;
  border-radius: 6px;
  top: 50%;
  background-color: var(--Neutral-800);
  overflow: hidden;
  z-index: 3;
}

.suggestions .list__items {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 10px;
  text-align: left;
  padding-inline-start: 5px;
  margin-block-start: 10px;
}

.suggestions .list__item {
  font-size: 1.6rem;
  width: 135px;
  border-radius: 5px;
  height: 30px;
  padding-block: 3px;
  padding-inline-start: 5px;
  cursor: pointer;
}

.suggestions .list__item.selected {
  background-color: var(--Neutral-700);
  border: 1px solid var(--Neutral-600);
}

/*------------*\
-->  HERO
\*------------*/

.card {
  position: relative;
  background-image: url("../images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 300px;
  width: 100%;
  height: 280px;
  margin-inline: auto;
  border-radius: 25px;
  margin-block: 50px 20px;
  overflow: hidden;
  text-align: center;
  transition: opacity 250ms ease;
}
.card.loading{
  background: none;
  background-color: var(--Neutral-800);
}

.card__title {
  position: relative;
  font-size: 2.4rem;
  top: 40px;
  letter-spacing: 2px;
  line-height: 1.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__subtitle {
  position: relative;
  font-size: 1.33rem;
  line-height: 1.6;
  letter-spacing: 1px;
  top: 45px;
  opacity: 0.8;
}

.card__degree {
  position: relative;
  font-size: 5rem;
  font-style: italic;
  font-weight: 500;
  top: 90px;
  left: 70px;
}

.card__icon {
  position: relative;
  width: 100px;
  height: 100px;
  left: 15px;
}

.card .loading-card {
  background-color: transparent;
  color: white;
  position: absolute;
  width: max-content;
  top: 40%;
  left: 53%;
  transform: translate(-50%);
  transition: opacity 250ms ease;
  font-size: 3rem;
}

.card.loading > :not(.loading-card){
  visibility: hidden;
}

.card .loading-card .icon {
  position: absolute;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  top: 0;
  left: -4.5rem;
  animation: rotate360 2s linear infinite;
}



/*------------*\
-->  MAIN
\*------------*/

.main {
  flex: 1;
}

.main .list-items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
  gap: 15px;
  max-width: 300px;
  width: 100%;
  flex-wrap: wrap;
  margin-inline: auto;
  transition: opacity 250ms ease;
}

.main .list-item {
  background-color: var(--Neutral-800);
  width: 130px;
  height: 90px;
  border: 1px solid var(--Neutral-600);
  font-size: 1.33rem;
  border-radius: 10px;
  padding-inline-start: 10px;
  padding-block-start: 10px;
}

.main .list-item .item__content.loading-card{
  visibility: hidden;
}
.main .list-item .item__content.loading-card::after{
  content: "-";
  position: absolute;
  visibility: visible;
  left: 0;
}


.item__title {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1.6;
  text-align: left;
  margin-block-end: 20px;
}

.item__content {
  position: relative;
  font-size: 2.4rem;
  text-align: left;
  width: max-content;
}

/*------------*\
-->  DAYILY
\*------------*/

.daily-forecast {
  width: 300px;
  margin-inline: auto;
}

.daily-title {
  position: relative;
  line-height: 1.6;
  font-size: 2.4rem;
  text-align: left;
  letter-spacing: 1pt;
  margin-block: 15px;
}

.daily__list {
  position: relative;
  height: 500px;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.daily__list .list__item {
  position: relative;
  width: 90px;
  height: 150px;
  background-color: var(--Neutral-800);
  border-radius: 1rem;
  padding-inline: 10px;
  border: 1px solid var(--Neutral-600);
}

.daily__list .list__item.loading * {
  visibility: hidden;
}


.daily__list .list__item .title {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-block-start: 10px;
}

.state-icon {
  position: relative;
  top: 10px;
  width: 60px;
  height: 60px;
  margin-inline: auto;
}

.degree {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
}

.high-degree {
  text-align: left;
  bottom: -22px;
  left: -5px;
}

.low-degree {
  text-align: right;
  left: 5px;
  bottom: -5px;
}

/*------------*\
-->  ASIDE
\*------------*/

.hourly-list {
  position: relative;
  margin-block: 50px;
  background-color: var(--Neutral-800);
  max-width: 300px;
  width: 100%;
  height: 600px;
  margin-inline: auto;
  border-radius: 20px;
}

.hourly-list__title {
  position: relative;
  width: 200px;
  font-size: 1.73rem;
  letter-spacing: 1px;
  line-height: 1.6;
  text-align: left;
  top: 20px;
  left: 15px;
}

.btn__days {
  position: relative;
  display: flex;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  left: 58%;
  font-family: "DM_Sans";
  background-color: var(--Neutral-700);
  color: white;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  padding-inline-start: 10px;
  bottom: 10px;
  font-size: 1.2rem;
}

.btn__days:focus {
  outline: 1px solid white;
  outline-offset: 3px;
}

.btn__days.loading-card{
  width: 5rem;
  left: 77%;
}

.btn__days.loading > :not(.btn__icon){
  visibility: hidden;
}

.btn__days.loading-card::after{
  content: "-";
  position: absolute;
  left: 1rem;
}

.btn__icon {
  position: absolute;
  right: 10px;
}

.day__select .select__options {
  position: absolute;
  left: 45%;
  top: 55px;
  background-color: var(--Neutral-800);
  border: 1px solid var(--Neutral-600);
}

.day__options {
  display: flex;
  flex-flow: column;
  gap: 15px;
  margin-block-start: 5px;
  letter-spacing: 0.5px;
}

.day__option {
  position: relative;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "DM_Sans";
  width: 145px;
  height: 30px;
  left: -5px;
  display: flex;
  align-items: center;
  padding-inline-start: 6px;
  border-radius: 6pt;
  cursor: pointer;
}

.day__option.selected {
  background-color: var(--Neutral-600);
  border: 1px solid var(--Neutral-700);
}


.hourly-list .list-items {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 10px;
}
.hourly-list .list-items.loading-card{
  overflow: hidden;
}

.hourly-list .list-item.loading * {
  visibility: hidden;
}

.days__container {
  height: 530px;
  overflow: auto;
}

.days__container::-webkit-scrollbar {
  width: 6px;
}

.hourly-list .list-item {
  width: 265px;
  background-color: var(--Neutral-700);
  height: 43px;
  border-radius: 8px;
  padding-inline-start: 10px;
  overflow: hidden;
  border: 1px solid var(--Neutral-600);
}



.hourly-list .list-item .icon {
  width: 45px;
  height: 40px;
  margin-block: auto;
}

.hourly-list .list-item .item__hour {
  position: relative;
  width: 60px;
  left: 50px;
  font-size: 1.86rem;
  bottom: 30px;
}

.hourly-list .list-item .item__degree {
  position: relative;
  width: 10px;
  left: 80%;
  font-size: 1.6rem;
  bottom: 50px;
}

/*------------*\
-->  FOOTER
\*------------*/

.footer {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block: 15px;
}

footer.loading * {
  visibility: hidden;
}

.footer-text {
  font-size: 1.33rem;
  color: var(--Neutral-300);
}

.footer .link {
  font-size: 1.46rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
  line-height: 1.6;
  color: var(--gold-crayola);
}

.footer .link:hover {
  color: var(--Blue-500);
}